*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--green);
  color: var(--white);
}

body {
  background: #fafafa;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

ul {
  list-style: none;
  display: flex;
}

li a {
  padding: 8px 20px;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--green);
}

.logo img {
  max-width: 80px;
}

main {
  padding: 0 100px;
  height: calc(100vh - 120px);
}

main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dynamic-color);
  clip-path: circle(600px at right 800px);
  z-index: -1;
}

h2 {
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

h2 span {
  color: var(--green);
  font-size: 1.2em;
  font-weight: 900;
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content-text {
  flex: 1;
}

.content-img {
  flex: 1;
}

.content-text p {
  margin: 20px 0;
}

.content-text button {
  background: var(--green);
  color: var(--white);
  font-weight: 500;
  padding: 8px 28px;
  border-radius: 40px;
  border: var(--green);
  font-size: 18px;
  letter-spacing: 1px;
}

.content-img {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.content-img img {
  max-height: 580px;
}

aside {
  position: absolute;
  right: 10px;
  top: 50vh;
}

.rrss {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rrss a {
  display: inline-block;
}

.rrss img {
  filter: invert(100%);
  transform: scale(0.6);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer ul {
  gap: 40px;
}

footer li {
  transition: all 0.3s ease-in-out;
}

footer li:hover {
  cursor: pointer;
  transform: translateY(-15px);
}

footer img {
  max-width: 60px;
}